h1 {color: black;}
h2 {color: black;}
body {background-color: darkseagreen;}
h1 {text-align: center;}
h2 {text-align: right; }
h1 {width: 100%;}
h2 {width: 90%;}
#ima1 {width: 20%;} 
#ima2 {width: 30%;}
#ima3 {width: 30%;}
